
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<div class="site-content space-2">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center pb-4">
            <h4 class="page-title font-weight-medium m-0 text-lh-lg">Qui Sommes Nous ?</h4>
        </div>
        <p>
            Je suis Mourad Boubaker, promoteur et fondateur du projet Clik2read. Mais avant tout, je suis un passionné du livre.
            Ce qui explique sans doute, mon choix d’évoluer depuis des années dans le domaine de l’impression, à la tête de la
            Maghrébine pour l’impression et la publicité. J’ai acquis au fil de toutes ces années, une connaissance quasi-parfaite
            du marché et de l’industrie du livre.
        </p>
        <p>
            Depuis un certain temps, j’ai remarqué que l’industrie du livre traverse un nombre de difficultés.
        </p>
        <p>
            En effet, il y a ce désintérêt progressif qu’expriment les gens à l’égard du livre. Souvent, ils expliquent qu’ils n’ont
            plus le temps d’aller à une librairie pour choisir le livre qui accompagnera leurs journées qui viennent ou encore,
            qu’ils n’ont plus d’espace de rangement à la maison et qu’ils ne trouvent pas forcément très pratique de trimballer
            avec eux un livre de centaines de pages.
        </p>
        <p>
            En parallèle à cette crise que traverse l’industrie du livre, il y a quelque chose qui imprègne aujourd’hui nos vies : le
            digital
        </p>
        <p>
            Je ne vous informe donc rien de nouveau si je vous dis que le digital est aujourd’hui au cœur de nos sociétés.
        </p>
        <p>
            Pour faire face aux problèmes que rencontre le livre en Tunisie, Clik2read a voulu intégrer ce nouveau souffle pour
            faire partie du changement dans notre pays et pour être la première en ligne dédiée au livre, dans toutes ses formes,
            dans tous ses aspects et dans toute sa splendeur.
        </p>
        <p>
            Clik2read est ce projet qui nous fait rêver depuis longtemps et une possibilité que nous voulons offrir aux amoureux
            du livre, aux chercheurs et aux étudiants fatigués de ne jamais trouver les ouvrages nécessaires à leurs recherches. Le
            tout est à 50% moins cher que le live papier.
        </p>
        <p>
            L’intérêt d’une telle plateforme est donc bien réel. Clik2read créée l’opportunité pour la Tunisie d’être sur un
            nouveau marché, celui du livre numérique, qui représente environ 12% du marché du livre papier dans le monde.
        </p>
        <p>
            Notre ambition s’insère dans ce contexte en considérant le respect du droit d’auteur, et en comblant les défaillances
            majeures du libre tunisien (promotion, diffusion, distribution, et exportation du livre). Clik2read est également un
            partenariat avec les maisons d’éditions au moyen de contrats financiers et moraux basés sur la confiance et la
            transparence.
        </p>
        <p>
            ans notre phase de lancement, nous ciblons dans un premier temps le Grand Public tunisien, amateur de lecture. Cela
            étant, nous ciblons également les étudiants et les chercheurs universitaires, conscients des difficultés qu’ils éprouvent
            dans leur recherchée académiques.
        </p>
        <p>
            Fidèles à ces ambitions de modernisation, le lancement de Clik2read se fera en grande partie, au moyen d’une
            communication sur les réseaux sociaux. Le but étant de présenter notre plateforme comme un outil d’épanouissement
            pour les amoureux de lecture, mais aussi un outil de travail et de recherche. Nous mettons un point d’honneur à
            diffuser auprès de nos potentiels consommateurs nos valeurs les plus fondamentales à savoir, l’amour du livre,
            moteur de toutes nos ambitions, mais aussi, notre volonté de mettre à disposition de nos consommateurs, une
            plateforme moderne, engagée, accessible, inclusive et performante.
        </p>
        <p>
            Notre campagne de lancement se constituera aussi de stratégies off line, qui privilégient un lien humain plus direct.
            C’est pour cela, que nous comptons sur notre présence à la foire nationale du livre pour présenter le concept. Cela
            nous permettra aussi d’expliquer qu’une plateforme numérique n’a pas l’ambition d’éradiquer le livre en papier,
            mais de proposer des solutions alternatives à un secteur en crise. Finalement, nous sommes tous alimentés par la
            même passion : l’amour du livre.
        </p>
        <p>
            Ayant exposé ce projet qui nous tient à cœur et qui nous fait rêver, moi, ainsi que toute l’équipe Clik2read vous
            remercie de votre attention.

        </p>
        <p class="float-right font-italic font-weight-bold">
            Mourad Boubaker
        </p>
    </div>
</div>
