<div id="detailsModal" class="modal fade right p-1" tabindex="-1" role="dialog"
	 aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
	<input type="hidden" id="currentPageOfViewer" value="0" />
	<input type="hidden" id="currentBookIdOfViewer" />
	<input type="hidden" id="currentLibraryIdOfViewer" value="-1" />
	<div class="modal-dialog-full-width modal-dialog momodel modal-fluid mb-8" role="document">
		<div class="modal-content-full-width modal-content ">
			<div class=" modal-header-full-width modal-header text-center">
				<h5 class="modal-title w-100" id="exampleModalPreviewLabel">Title</h5>
				<button type="button" class="close " data-dismiss="modal" aria-label="Close">
					<span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="pdf-toolbar">
					<div id='viewerParent' >
						<div id="pdf-content">
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
