<!-- Account Sidebar Navigation - Desktop -->
<aside id="sidebarContent" class="u-sidebar u-sidebar__lg" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
        <div class="u-sidebar__container">
            <div class="u-header-sidebar__footer-offset">
                <!-- Toggle Button -->
                <div class="d-flex align-items-center position-absolute top-0 right-0 z-index-2 mt-5 mr-md-6 mr-4">
                    <button type="button" class="close ml-auto"
                            aria-controls="sidebarContent"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent"
                            data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight"
                            data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="50">
                        <span aria-hidden="true">Close <i class="fas fa-times ml-2"></i></span>
                    </button>
                </div>
                <!-- End Toggle Button -->
                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body">
                    <div class="u-sidebar__content u-header-sidebar__content">
                        <form class="">
                            <!-- Login -->
                            <div id="login" data-target-group="idForm">
                                <!-- Title -->
                                <header class="border-bottom px-4 px-md-6 py-4">
                                    <h2 class="font-size-3 mb-0 d-flex align-items-center"><i class="flaticon-user mr-3 font-size-5"></i>Account</h2>
                                </header>
                                <!-- End Title -->

                                <div class="p-4 p-md-6">
                                    <!-- Form Group -->
                                    <div class="form-group mb-4">
                                        <div class="js-form-message js-focus-state">
                                            <label id="signinEmailLabel" class="form-label" for="signinEmail">Username or email *</label>
                                            <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail" placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com" aria-describedby="signinEmailLabel" required>
                                        </div>
                                    </div>
                                    <!-- End Form Group -->
                                    <!-- Form Group -->
                                    <div class="form-group mb-4">
                                        <div class="js-form-message js-focus-state">
                                            <label id="signinPasswordLabel" class="form-label" for="signinPassword">Password *</label>
                                            <input type="password" class="form-control rounded-0 height-4 px-4" name="password" id="signinPassword" placeholder="" aria-label="" aria-describedby="signinPasswordLabel" required>
                                        </div>
                                    </div>
                                    <!-- End Form Group -->

                                    <div class="d-flex justify-content-between mb-5 align-items-center">
                                        <!-- Checkbox -->
                                        <div class="js-form-message">
                                            <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
                                                <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox" required>
                                                <label class="custom-control-label" for="termsCheckbox">
                                                    <span class="font-size-2 text-secondary-gray-700">
                                                        Remember me
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- End Checkbox -->

                                        <a class="js-animation-link text-dark font-size-2 t-d-u link-muted font-weight-medium" href="javascript:;"
                                           data-target="#forgotPassword"
                                           data-link-group="idForm"
                                           data-animation-in="fadeIn">Forgot Password?</a>
                                    </div>

                                    <div class="mb-4d75">
                                        <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Sign In</button>
                                    </div>

                                    <div class="mb-2">
                                        <a href="javascript:;" class="js-animation-link btn btn-block py-3 rounded-0 btn-outline-dark font-weight-medium"
                                           data-target="#signup"
                                           data-link-group="idForm"
                                           data-animation-in="fadeIn">Create Account</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Signup -->
                            <div id="signup" style="display: none; opacity: 0;" data-target-group="idForm">
                                <!-- Title -->
                                <header class="border-bottom px-4 px-md-6 py-4">
                                    <h2 class="font-size-3 mb-0 d-flex align-items-center"><i class="flaticon-resume mr-3 font-size-5"></i>Create Account</h2>
                                </header>
                                <!-- End Title -->

                                <div class="p-4 p-md-6">
                                    <!-- Form Group -->
                                    <div class="form-group mb-4">
                                        <div class="js-form-message js-focus-state">
                                            <label id="signinEmailLabel1" class="form-label" for="signinEmail1">Email *</label>
                                            <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail1" placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com" aria-describedby="signinEmailLabel1" required>
                                        </div>
                                    </div>
                                    <!-- End Form Group -->
                                    <!-- Form Group -->
                                    <div class="form-group mb-4">
                                        <div class="js-form-message js-focus-state">
                                            <label id="signinPasswordLabel1" class="form-label" for="signinPassword1">Password *</label>
                                            <input type="password" class="form-control rounded-0 height-4 px-4" name="password" id="signinPassword1" placeholder="" aria-label="" aria-describedby="signinPasswordLabel1" required>
                                        </div>
                                    </div>
                                    <!-- End Form Group -->
                                    <!-- Form Group -->
                                    <div class="form-group mb-4">
                                        <div class="js-form-message js-focus-state">
                                            <label id="signupConfirmPasswordLabel" class="form-label" for="signupConfirmPassword">Confirm Password *</label>
                                            <input type="password" class="form-control rounded-0 height-4 px-4" name="confirmPassword" id="signupConfirmPassword" placeholder="" aria-label="" aria-describedby="signupConfirmPasswordLabel" required>
                                        </div>
                                    </div>
                                    <!-- End Input -->

                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Create Account</button>
                                    </div>

                                    <div class="text-center mb-4">
                                        <span class="small text-muted">Already have an account?</span>
                                        <a class="js-animation-link small" href="javascript:;"
                                           data-target="#login"
                                           data-link-group="idForm"
                                           data-animation-in="fadeIn">
                                            Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Signup -->
                            <!-- Forgot Password -->
                            <div id="forgotPassword" style="display: none; opacity: 0;" data-target-group="idForm">
                                <!-- Title -->
                                <header class="border-bottom px-4 px-md-6 py-4">
                                    <h2 class="font-size-3 mb-0 d-flex align-items-center"><i class="flaticon-question mr-3 font-size-5"></i>Forgot Password?</h2>
                                </header>
                                <!-- End Title -->

                                <div class="p-4 p-md-6">
                                    <!-- Form Group -->
                                    <div class="form-group mb-4">
                                        <div class="js-form-message js-focus-state">
                                            <label id="signinEmailLabel3" class="form-label" for="signinEmail3">Email *</label>
                                            <input type="email" class="form-control rounded-0 height-4 px-4" name="email" id="signinEmail3" placeholder="creativelayers088@gmail.com" aria-label="creativelayers088@gmail.com" aria-describedby="signinEmailLabel3" required>
                                        </div>
                                    </div>
                                    <!-- End Form Group -->

                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-block py-3 rounded-0 btn-dark">Recover Password</button>
                                    </div>

                                    <div class="text-center mb-4">
                                        <span class="small text-muted">Remember your password?</span>
                                        <a class="js-animation-link small" href="javascript:;"
                                           data-target="#login"
                                           data-link-group="idForm"
                                           data-animation-in="fadeIn">
                                            Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Forgot Password -->
                        </form>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
</aside>
<!-- End Account Sidebar Navigation - Desktop -->
<!-- Cart Sidebar Navigation -->
<aside id="sidebarContent1" class="u-sidebar u-sidebar__xl" aria-labelledby="sidebarNavToggler1">
    <div class="u-sidebar__scroller js-scrollbar">
        <div class="u-sidebar__container">
            <div class="u-header-sidebar__footer-offset">
                <!-- Toggle Button -->
                <div class="d-flex align-items-center position-absolute top-0 right-0 z-index-2 mt-5 mr-md-6 mr-4">
                    <button type="button" class="close ml-auto"
                            aria-controls="sidebarContent1"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent1"
                            data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight"
                            data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="50">
                        <span aria-hidden="true">Close <i class="fas fa-times ml-2"></i></span>
                    </button>
                </div>
                <!-- End Toggle Button -->
                <!-- Content -->
                <div class="u-sidebar__body">
                    <div class="u-sidebar__content u-header-sidebar__content">
                        <!-- Title -->
                        <header class="border-bottom px-4 px-md-6 py-4">
                            <h2 class="font-size-3 mb-0 d-flex align-items-center"><i class="flaticon-icon-126515 mr-3 font-size-5"></i>Votre Panier (3)</h2>
                        </header>
                        <!-- End Title -->

                        <div class="px-4 py-5 px-md-6 border-bottom">
                            <div class="media">
                                <a href="#" class="d-block"><img src="~/Template/Image/img02.jpg" class="img-fluid" alt="image-description"></a>
                                <div class="media-body ml-4d875">
                                    <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate"><a href="#">Ibn Khaldoun </a></div>
                                    <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                                        <a href="#" class="text-dark">les Prolégomènes Ibn Khaldoun </a>
                                    </h2>
                                    <div class="font-size-2 mb-1 text-truncate"><a href="#" class="text-gray-700"></a></div>
                                    <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>15TND</span>
                                    </div>
                                </div>
                                <div class="mt-3 ml-3">
                                    <a href="#" class="text-dark"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="px-4 py-5 px-md-6 border-bottom">
                            <div class="media">
                                <a href="#" class="d-block"><img src="~/Template/Image/img03.jpg" class="img-fluid" alt="image-description"></a>
                                <div class="media-body ml-4d875">
                                    <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate"><a href="#">Ahmed Ajmi</a></div>
                                    <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                                        <a href="#" class="text-dark"> Paranormal </a>
                                    </h2>
                                    <div class="font-size-2 mb-1 text-truncate"><a href="#" class="text-gray-700"></a></div>
                                    <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>20TND</span>
                                    </div>
                                </div>
                                <div class="mt-3 ml-3">
                                    <a href="#" class="text-dark"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="px-4 py-5 px-md-6 border-bottom">
                            <div class="media">
                                <a href="#" class="d-block"><img src="~/Template/Image/img07.jpg" class="img-fluid" alt="image-description"></a>
                                <div class="media-body ml-4d875">
                                    <div class="text-primary text-uppercase font-size-1 mb-1 text-truncate"><a href="#">RABEE JABER </a></div>
                                    <h2 class="woocommerce-loop-product__title h6 text-lh-md mb-1 text-height-2 crop-text-2">
                                        <a href="#" class="text-dark">The Druze of Belgrade </a>
                                    </h2>
                                    <div class="font-size-2 mb-1 text-truncate"><a href="#" class="text-gray-700"></a></div>
                                    <div class="price d-flex align-items-center font-weight-medium font-size-3">
                                        <span class="woocommerce-Price-amount amount"> <span class="woocommerce-Price-currencySymbol"></span>20TND</span>
                                    </div>
                                </div>
                                <div class="mt-3 ml-3">
                                    <a href="#" class="text-dark"><i class="fas fa-times"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="px-4 py-5 px-md-6 d-flex justify-content-between align-items-center font-size-3">
                            <h4 class="mb-0 font-size-3">Subtotal:</h4>
                            <div class="font-weight-medium">55.00TND</div>
                        </div>

                        <div class="px-4 mb-8 px-md-6">
                            <button type="submit" class="btn btn-block py-4 rounded-0 btn-outline-dark mb-4">Voir le panier</button>
                            <button type="submit" class="btn btn-block py-4 rounded-0 btn-dark">Vérifier</button>
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
</aside>

<!-- End Cart Sidebar Navigation -->
<!-- Categories Sidebar Navigation -->
<aside id="sidebarContent2" class="u-sidebar u-sidebar__md u-sidebar--left" aria-labelledby="sidebarNavToggler2">
    <div class="u-sidebar__scroller js-scrollbar">
        <div class="u-sidebar__container">
            <div class="u-header-sidebar__footer-offset">
                <!-- Content -->
                <div class="u-sidebar__body">
                    <div class="u-sidebar__content u-header-sidebar__content">
                        <!-- Title -->
                        <header class="border-bottom px-4 px-md-5 py-4 d-flex align-items-center justify-content-between">
                            <h2 class="font-size-3 mb-0">SHOP BY CATEGORY</h2>

                            <!-- Toggle Button -->
                            <div class="d-flex align-items-center">
                                <button type="button" class="close ml-auto"
                                        aria-controls="sidebarContent2"
                                        aria-haspopup="true"
                                        aria-expanded="false"
                                        data-unfold-event="click"
                                        data-unfold-hide-on-scroll="false"
                                        data-unfold-target="#sidebarContent2"
                                        data-unfold-type="css-animation"
                                        data-unfold-animation-in="fadeInLeft"
                                        data-unfold-animation-out="fadeOutLeft"
                                        data-unfold-duration="50">
                                    <span aria-hidden="true"><i class="fas fa-times ml-2"></i></span>
                                </button>

                            </div>
                            <!-- End Toggle Button -->
                        </header>
                        <!-- End Title -->

                        <div class="border-bottom">
                            <div class="zeynep pt-4">
                               <ul>
                                    @*<li class="has-submenu">
                                        <a href="#" data-submenu="off-pages">Pages</a>

                                        <div id="off-pages" class="submenu">
                                            <div class="submenu-header" data-submenu-close="off-pages">
                                                <a href="#">Pages</a>
                                            </div>

                                            <ul>
                                                <li class="has-submenu">
                                                    <a href="#" data-submenu="off-home">Home Pages</a>

                                                    <div id="off-home" class="submenu js-scrollbar">
                                                        <div class="submenu-header" data-submenu-close="off-home">
                                                            <a href="#">Home Pages</a>
                                                        </div>

                                                        <ul class="">
                                                            <li>
                                                                <a href="../home/index.html">Home v1</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v2.html">Home v2</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v3.html">Home v2</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v3.html">Home v3</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v4.html">Home v4</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v5.html">Home v5</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v6.html">Home v6</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v7.html">Home v7</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v8.html">Home v8</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v9.html">Home v9</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v10.html">Home v10</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v11.html">Home v11</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v12.html">Home v12</a>
                                                            </li>

                                                            <li>
                                                                <a href="../home/home-v13.html">Home v13</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="has-submenu">
                                                    <a href="#" data-submenu="off-single-product">Single Product</a>

                                                    <div id="off-single-product" class="submenu js-scrollbar">
                                                        <div class="submenu-header" data-submenu-close="off-single-product">
                                                            <a href="#">Single Product</a>
                                                        </div>

                                                        <ul class="">
                                                            <li>
                                                                <a href="../shop/single-product-v1.html">Single Product v1</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/single-product-v2.html">Single Product v2</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/single-product-v3.html">Single Product v3</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/single-product-v4.html">Single Product v4</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/single-product-v5.html">Single Product v5</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/single-product-v6.html">Single Product v6</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/single-product-v7.html">Single Product v7</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="has-submenu">
                                                    <a href="#" data-submenu="off-shop-pages">Shop Pages</a>

                                                    <div id="off-shop-pages" class="submenu js-scrollbar">
                                                        <div class="submenu-header" data-submenu-close="off-shop-pages">
                                                            <a href="#">Shop Pages</a>
                                                        </div>

                                                        <ul class="">
                                                            <li>
                                                                <a href="../shop/cart.html">Shop cart</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/checkout.html">Shop checkout</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/my-account.html">Shop My Account</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/order-received.html">Shop Order Received</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/order-tracking.html">Shop Order Tracking</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/store-location.html">Shop Store Location</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="has-submenu">
                                                    <a href="#" data-submenu="off-shop-list">Shop List</a>

                                                    <div id="off-shop-list" class="submenu js-scrollbar">
                                                        <div class="submenu-header" data-submenu-close="off-shop-list">
                                                            <a href="#">Shop List</a>
                                                        </div>

                                                        <ul class="">
                                                            <li>
                                                                <a href="../shop/v1.html">Shop List v1</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/v2.html">Shop List v2</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/v3.html">Shop List v3</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/v4.html">Shop List v4</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/v5.html">Shop List v5</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/v6.html">Shop List v6</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/v7.html">Shop List v7</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/v8.html">Shop List v8</a>
                                                            </li>

                                                            <li>
                                                                <a href="../shop/v9.html">Shop List v9</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="has-submenu">
                                                    <a href="#" data-submenu="off-blog">Blog</a>

                                                    <div id="off-blog" class="submenu js-scrollbar">
                                                        <div class="submenu-header" data-submenu-close="off-blog">
                                                            <a href="#">Blog</a>
                                                        </div>

                                                        <ul class="">
                                                            <li>
                                                                <a href="../blog/blog-v1.html">Blog v1</a>
                                                            </li>

                                                            <li>
                                                                <a href="../blog/blog-v2.html">Blog v2</a>
                                                            </li>

                                                            <li>
                                                                <a href="../blog/blog-v3.html">Blog v3</a>
                                                            </li>

                                                            <li>
                                                                <a href="../blog/blog-single.html">Blog Single</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="has-submenu">
                                                    <a href="#" data-submenu="off-others">Others</a>

                                                    <div id="off-others" class="submenu js-scrollbar">
                                                        <div class="submenu-header" data-submenu-close="off-others">
                                                            <a href="#">Others</a>
                                                        </div>

                                                        <ul class="">
                                                            <li>
                                                                <a href="../others/404.html">404</a>
                                                            </li>

                                                            <li>
                                                                <a href="../others/about.html">About Us</a>
                                                            </li>

                                                            <li>
                                                                <a href="../others/authors-list.html">Authors List</a>
                                                            </li>

                                                            <li>
                                                                <a href="../others/authors-single.html">Authors Single</a>
                                                            </li>

                                                            <li>
                                                                <a href="../others/coming-soon.html">Coming Soon</a>
                                                            </li>

                                                            <li>
                                                                <a href="../others/contact.html">Contact Us</a>
                                                            </li>

                                                            <li>
                                                                <a href="../others/faq.html">FAQ</a>
                                                            </li>

                                                            <li>
                                                                <a href="../others/pricing-table.html">Pricing Table</a>
                                                            </li>

                                                            <li>
                                                                <a href="../others/terms-conditions.html">Terms Conditions</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="px-5">
                                                    <a href="../../documentation/index.html" class="btn btn-primary mb-3 mb-md-0 mb-xl-3 mt-4 font-size-2 btn-block">Documentation</a>
                                                </li>

                                                <li class="px-5 mb-4">
                                                    <a href="../../starter/index.html" class="btn btn-secondary font-size-2 btn-block mb-2">Starter</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>*@

                                    <li class="has-submenu">
                                        <a href="#" data-submenu="art-photo">Categories</a>

                                        <div id="art-photo" class="submenu">
                                            <div class="submenu-header" data-submenu-close="art-photo">
                                                <a href="#">Categories</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Sport</a>
                                                </li>

                                                <li>
                                                    <a href="#">Horreur</a>
                                                </li>

                                                <li>
                                                    <a href="#">Adventure</a>
                                                </li>

                                                <li>
                                                    <a href="#">Biographie</a>
                                                </li>

                                                <li>
                                                    <a href="#">Poésie</a>
                                                </li>

                                                <li>
                                                    <a href="#">Romantique</a>
                                                </li>

                                                <li>
                                                    <a href="#">Magique</a>
                                                </li>

                                                <li>
                                                    <a href="#">Guerre</a>
                                                </li>

                                                <li>
                                                    <a href="#">Informatique</a>
                                                </li>

                                                <li>
                                                    <a href="#">Intelligence</a>
                                                </li>

                                                <li>
                                                    <a href="#">Philosophie</a>
                                                </li>
                                                

                                            </ul>
                                        </div>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#" data-submenu="biography">Editeurs</a>

                                        <div id="biography" class="submenu">
                                            <div class="submenu-header" data-submenu-close="biography">
                                                <a href="#">Editeurs</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#" data-submenu="children">Nouveautés</a>

                                        <div id="children" class="submenu">
                                            <div class="submenu-header" data-submenu-close="children">
                                                <a href="#">Nouveautés</a>
                                            </div>

                                            <ul>
                                                @*<li class="has-submenu">
                                                    <a href="#" data-submenu="electronics">Electronics</a>

                                                    <div id="electronics" class="submenu js-scrollbar">
                                                        <div class="submenu-header" data-submenu-close="electronics">
                                                            <a href="#">Electronics</a>
                                                        </div>

                                                        <ul class="">
                                                            <li>
                                                                <a href="#">Camera & Photo</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Home Audio</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Tv & Video</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Computers & Accessories</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Car & Vehicle Electronics</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Portable Audio & Video</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Headphones</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Accessories & Supplies</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Video Projectors</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Office Electronics</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Wearable Technology</a>
                                                            </li>

                                                            <li>
                                                                <a href="#">Service Plans</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li>*@

                                                <li>
                                                    <a href="#">Books</a>
                                                </li>

                                                <li>
                                                    <a href="#">Video Games</a>
                                                </li>

                                                <li>
                                                    <a href="#">Computers</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#" data-submenu="computers">Meilleurs Ventes</a>

                                        <div id="computers" class="submenu">
                                            <div class="submenu-header" data-submenu-close="computers">
                                                <a href="#">Meilleurs Ventes</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#" data-submenu="cookbook">Livres Audio</a>

                                        <div id="cookbook" class="submenu">
                                            <div class="submenu-header" data-submenu-close="cookbook">
                                                <a href="#">Livres Audio</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#" data-submenu="education">Livre Gratuit</a>

                                        <div id="education" class="submenu">
                                            <div class="submenu-header" data-submenu-close="education">
                                                <a href="#">Livre Gratuit</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="has-submenu">
                                        <a href="#" data-submenu="health">Contact</a>

                                        <div id="health" class="submenu">
                                            <div class="submenu-header" data-submenu-close="health">
                                                <a href="#">Contact</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    @*<li class="has-submenu">
                                        <a href="#" data-submenu="history">History</a>

                                        <div id="history" class="submenu">
                                            <div class="submenu-header" data-submenu-close="history">
                                                <a href="#">History</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>*@

                                    @*<li class="has-submenu">
                                        <a href="#" data-submenu="romance">Romance</a>

                                        <div id="romance" class="submenu">
                                            <div class="submenu-header" data-submenu-close="romance">
                                                <a href="#">Romance</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>*@

                                    @*<li class="has-submenu">
                                        <a href="#" data-submenu="sports">Sports & Outdoors</a>

                                        <div id="sports" class="submenu">
                                            <div class="submenu-header" data-submenu-close="sports">
                                                <a href="#">Sports & Outdoors</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>*@

                                    @*<li class="has-submenu">
                                        <a href="#" data-submenu="travel">Travel</a>

                                        <div id="travel" class="submenu">
                                            <div class="submenu-header" data-submenu-close="travel">
                                                <a href="#">Travel</a>
                                            </div>

                                            <ul>
                                                <li>
                                                    <a href="#">Istanbul</a>
                                                </li>

                                                <li>
                                                    <a href="#">Mardin</a>
                                                </li>

                                                <li>
                                                    <a href="#">Amed</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>*@
                                </ul>
                            </div>
                        </div>

                        <div class="px-4 px-md-5 pt-5 pb-4 border-bottom">
                            <h2 class="font-size-3 mb-3">HELP & SETTINGS </h2>
                            <ul class="list-group list-group-flush list-group-borderless">
                                <li class="list-group-item px-0 py-2 border-0"><a href="#" class="h-primary">Your Account</a></li>
                                <li class="list-group-item px-0 py-2 border-0"><a href="#" class="h-primary">Help</a></li>
                                <li class="list-group-item px-0 py-2 border-0"><a href="#" class="h-primary">Sign In</a></li>
                            </ul>
                        </div>


                        <div class="px-4 px-md-5 py-5">
                            <select class="custom-select mb-4 rounded-0 pl-4 height-4 shadow-none text-dark">
                                <option selected>English (United States)</option>
                                <option value="1">English (UK)</option>
                                <option value="2">Arabic (Saudi Arabia)</option>
                                <option value="3">Deutsch</option>
                            </select>
                            <select class="custom-select mb-4 rounded-0 pl-4 height-4 shadow-none text-dark">
                                <option selected>$ USD</option>
                                <option value="1">د.إ AED</option>
                                <option value="2">¥ CNY</option>
                                <option value="3">€ EUR</option>
                            </select>-->
                            <!-- Social Networks -->
                            <!--<ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <a class="h-primary pr-2 font-size-2" href="#">
                                        <span class="fab fa-facebook-f btn-icon__inner"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="h-primary pr-2 font-size-2" href="#">
                                        <span class="fab fa-google btn-icon__inner"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="h-primary pr-2 font-size-2" href="#">
                                        <span class="fab fa-twitter btn-icon__inner"></span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="h-primary pr-2 font-size-2" href="#">
                                        <span class="fab fa-github btn-icon__inner"></span>
                                    </a>
                                </li>
                            </ul>-->
                            <!-- End Social Networks -->
                        <!--</div>-->
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
</aside>
<!-- End Categories Sidebar Navigation -->
