@using Syncfusion.EJ2
@*<ejs-pdfviewer id="pdfviewer" style="height:600px" enableRtl=true locale="ar-AE" serviceUrl="/api/bookViewer" documentPath="RTLText.pdf">
</ejs-pdfviewer>*@

<div style="width:100%;height:600px">
    <ejs-pdfviewer id="pdfviewer" style="height:600px" enableRtl="true" locale="ar-AE" serviceUrl="/api/bookViewer" documentPath="RTLText.pdf"></ejs-pdfviewer>
</div>


<script>
   
</script>
